@keyframes checkedIn {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(90%);
  }
}

.page-header {
  padding-top: 50px;
}

.header {
  font-size: 2em;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

.page-text {
  margin: 2em auto;
}

.text {
  font-size: 1.5em;

  text-align: center;
}

.games-container {
  margin: 20vh auto;
  display: flex;
  justify-content: space-evenly;
}

.game-card {
  width: 400px;
  height: 450px;
  border: 2px solid black;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
  transition: all .7s;
  cursor: pointer;
}

.game-card:hover {
  background: rgba(91, 15, 15, 0.474);
}

.game-img {
  width: 390px;
  margin: auto;
}

.levels-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 400px;
}

.level-btn {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  border: none;
  border-radius: .2em;
  cursor: pointer;
}

.level-btn.active {
  background: url('../../assets/icons/check.png') no-repeat;
  background-size: 30px 30px;
  background-position: 95%;
}

.level-name {
  margin-left: 10px;
  width: 25px;
  font-size: 1.2em;
  font-weight: 500;
}

.level-text {
  font-size: 1.2em;
}

@media screen and (max-width: 1300px) {
  .games-container {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    margin: 2vh auto;
  }
}