// Breakpoints--------------------------------
$bp1: 1279.98;
$bp2: 991.98;
$bp3: 767.98;
$bp4: 479.98;

// Colors-------------------------------------
$primary-color: #bd1f37;
$secondary-color: #23266e;
$text-color: #111;
$bg-color: #f8f8ff;
