#main-page {
  height: calc(100vh - 75px);
  background: url('../../assets/images/learn.png') center no-repeat;
  background-color: transparent;
  background-size: 70% cover;
}

.header {
  font-size: 2em;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

.btns-info-container {
  margin-top: 1em;
  display: flex;
  gap: 15px;
}

.description-text {
  font-size: 32px;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.know-container,
.games-container {
  margin: 2em 1vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.category,
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.img-wrap {
  width: 350px;
  height: 350px;
  display: flex;
}

.category-image {
  margin: auto;
  max-width: 350px;
  max-height: 350px;
}

.category-header {
  font-size: 1.8em;
  font-weight: 500;
  margin: 10px auto;
}

.category-text {
  font-size: 1.2em;
  text-align: center;
  margin: 10px auto;
}

@media screen and (max-width: 1300px) {
  #main-page {
    background-size: 90%;
  }

  .know-container,
  .games-container {
    flex-direction: column;
  }

  .category {
    width: 400px;
  }
  
  .img-wrap {
    width: 250px;
    height: 250px;
    display: flex;
  }

  .category-image {
    max-width: 250px;
    max-height: 250px;
  }

  .category-text {
    width: 300px;
    font-size: 1em;
  }
}
