@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Noto+Serif+Display:ital,wght@0,400;1,700&family=Roboto&display=swap');
.body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.4em;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    color: #888888;
}
